/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .service-nav {
	border: 1px solid gray;
	padding: 1rem;
	display: flex;
	text-align: center;

 }

 .service-nav a {
	padding: 1rem;
 }